.playlistContainer {
  border: 2px solid goldenrod;
  width: 600px;
  background-color: #282c34;
}
.playlistCard {
  color: #61dafb;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  padding: auto;
  width: auto;
  background: url(./img/cellular.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.playlistTable {
  width: auto;
  overflow-y: scroll;
  height: 250px;
  font-size: medium;
  font-style: oblique;
}
.playlistBtn{
  margin: auto;
  margin-top: 5px;
}
.playlistSelector{
  color: #61dafb;
  height: 50px;
}
