.searchCard {
  border: 2px solid goldenrod;
  width: 42em;
  margin: 5px 5px 5px 5px;
  background-color: #282c34;
}
.searchHeader {
  color: #61dafb;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  background-color: #282c34;
  width: 50%;
  margin: auto;
  border-radius: 10%;
}

.cardText {
  overflow-y: scroll;
  height: 200px;
  color: #61dafb;
  font-weight: bold;
  background-color: #282c34;
}
.songCard {
  padding: 30px;
  background: url(./img/beat-headphones.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.hrLine{
  border: 1px solid #61dafb;
}
