.App {
  text-align: center;
}

.currentSong {
  display: block;
  border: 3px solid goldenrod;
  width: 700px;
  height: 550px;
  margin-top: 10px;
  background-color: #282c34;
  color: #61dafb;
  border-radius: 2%;
}
.App {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-evenly;
}
.chatWindow{
  width: 10%;
}
.songImg {
  width: 400px;
  height: 400px;
}
.playlist {
  margin-left: -35px;
}
div,
button {
  margin: 15px;
}
div button:hover {
  cursor: pointer;
  color: #61dafb;
  background: violet;
}
/* .checkSongBtn {
  margin-bottom: 10px;
} */
.checkSongBtn:hover {
  cursor: pointer;
  color: #61dafb;
  background: violet;
}
