.App {
  text-align: center;
}

.links {
  background-color: #282c34;
  width: 35%;
  height: 40%;
  margin: 0;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  border: 3px solid goldenrod;
  padding: 10px;
}

.currentSong {
  display: block;
  border: 3px solid goldenrod;
  width: 50%;
  height: 50%;
  float: right;
  margin-top: 0px;
  background-color: #282c34;
  color: #61dafb;
}
.songImg {
  width: 65%;
  height: auto;
}

div,
button {
  margin: 15px;
}
div button:hover {
  cursor: pointer;
  color: #61dafb;
  background: violet;
}
.checkSongBtn:hover {
  cursor: pointer;
  color: #61dafb;
  background: violet;
}
