.App {
  text-align: center;
}

.currentSong {
  display: block;
  border: 3px solid goldenrod;
  width: 700px;
  height: 600px;
  margin-top: 10px;
  background-color: #282c34;
  color: #61dafb;
}
.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.songImg {
  width: 70%;
  height: 70%;
}
.playlist {
  margin-left: -35px;
}
div,
button {
  margin: 15px;
}
div button:hover {
  cursor: pointer;
  color: #61dafb;
  background: violet;
}
.checkSongBtn {
  margin-bottom: 10px;
}
.checkSongBtn:hover {
  cursor: pointer;
  color: #61dafb;
  background: violet;
}
