.navbar {
  max-height: 6em;
  background-color: #282c34;
  margin-top: -14px;
  /* margin-left: -35px;
  margin-right: -30px; */
}
.navImg {
  width: 15em;
  height: 13em;
  float: left;
  z-index: 1;
  padding: auto;
}
.welcome{
  color: #61dafb;
  font-size: larger;
}
